# <center>Python Basics<center/> 
<img height="60" width="120" src="https://www.python.org/static/img/python-logo-large.png?1414305901"></img>

# <center>Data types in depth</center>

# Table of contents
<br/>

<a href = "#14.-Lists">14. Lists</a><br/>
<a href = "#15.-Tuples">15. Tuples</a><br/>
<a href = "#16.-Sets">16. Sets</a><br/>
<a href = "#17.-Dictionary">17. Dictionary</a><br/>
<a href = "#18.-Strings">18. Strings</a><br/>

The most basic **DATA STRUCTURE** in Python is the **sequence**. Each element of a <u>sequence is assigned a number</u> - its **position or index**. <br/>
The first index is <i>zero, the second index is one, and so forth</i>.

Popular sequences in python are **Lists, Tuples, Sets, Dictionary and Strings**.

The popular operations include **indexing, slicing, adding, multiplying, and checking for membership**. In addition, Python has built-in functions for finding the **length** of a sequence and for finding its **largest and smallest elements**.

# 14. Lists

Points to remeber:

<ul>
    <li>Lists are collection of items (Strings, integers or even other lists)</li>
    <li>Lists are enclosed in [ ]</li>
    <li>Every item in a list has an assigned index value.</li>
    <li>Each item in a list is separated by a comma</li>
    <li>Lists are mutable, which means they can be changed.</li>
</ul>

## 14.1 How to create a List

In [ ]:
blankList=[] #Decleare an empty list
listOfString = ['String1', 'String2'] #List of Strings
listOfNumbers = [1,2,3,4,5,6]  # List of Numbers
listOfList = [ [100, 45,6],['String1','String3'],[12,4,6]]#list of List with Mixed Datatype
print(listOfList)

[[100, 45, 6], ['String1', 'String3'], [12, 4, 6]]

## 14.2 Finding the Length of the List

In [2]:
print(len(listOfList))

3

## 14.3 Add an element to the end of the List - Append

In [3]:
listOfNumbers= [12,13,14,25]
listOfNumbers.append('Appended Emements')#append function will add the item to at the end
print(listOfNumbers)

[12, 13, 14, 25, 'Appended Emements']

## 14.4  Insert an element at a particular position in the List

In [4]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
listOfMixedDataTypes.insert(2,'Data Science')
print(listOfMixedDataTypes)

[55.5, 'Bill', 'Data Science', 1000, 19.9]

## 14.5 Remove an item from the List

In [6]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
print(len(listOfMixedDataTypes))
listOfMixedDataTypes.remove(55.5)
print(listOfMixedDataTypes)
print(len(listOfMixedDataTypes))

4
['Bill', 1000, 19.9]
3

## 14.6 List in a List - Append vs Extend

In [8]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
listOfNumbers= [12,7.8,30,64]
listOfMixedDataTypes.append(listOfNumbers) # It adds the object as it is. using the append() methos
print(listOfMixedDataTypes)
print(len(listOfMixedDataTypes))

[55.5, 'Bill', 1000, 19.9, [12, 7.8, 30, 64]]
5

In [9]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
listOfNumbers= [12,7.8,30,64]
listOfMixedDataTypes.extend(listOfNumbers) # using the extend method
print(listOfMixedDataTypes)
print(len(listOfMixedDataTypes))

[55.5, 'Bill', 1000, 19.9, 12, 7.8, 30, 64]
8

In [10]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
setOfNumbers= {12,7.8,30,64}
listOfMixedDataTypes.extend(setOfNumbers) # using the extend method
print(listOfMixedDataTypes)
print(len(listOfMixedDataTypes))

[55.5, 'Bill', 1000, 19.9, 64, 12, 30, 7.8]
8

In [12]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
tupleOfNumbers= (12,7.8,30,64)
listOfMixedDataTypes.extend(tupleOfNumbers) # using the extend method
print(listOfMixedDataTypes)
print(len(listOfMixedDataTypes))

[55.5, 'Bill', 1000, 19.9, 12, 7.8, 30, 64]
8

In [13]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
tupleOfNumbers= (12,7.8,30,64)
listOfMixedDataTypes.append(tupleOfNumbers) # using the extend method
print(listOfMixedDataTypes)
print(len(listOfMixedDataTypes))

[55.5, 'Bill', 1000, 19.9, (12, 7.8, 30, 64)]
5

## 14.7 Delete an element in a List - del vs pop vs remove

In [15]:
listOfMixedDataTypes=[55.5, 'Bill', 1000,19.9]

#using del keyword
#del listOfMixedDataTypes[2]
del listOfMixedDataTypes[1:3]
print(listOfMixedDataTypes)

[55.5, 19.9]

In [17]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
listOfNumbers= [12,7.8,30,64]
listOfMixedDataTypes.append(listOfNumbers)
print(listOfMixedDataTypes)
del listOfMixedDataTypes[4][0]
print(listOfMixedDataTypes)

[55.5, 'Bill', 1000, 19.9, [12, 7.8, 30, 64]]
[55.5, 'Bill', 1000, 19.9, [7.8, 30, 64]]

In [19]:
listOfMixedDataTypes = [55.5, 'Bill', 1000,19.9]
tupleOfNumbers= (12,7.8,30,64)
listOfMixedDataTypes.append(tupleOfNumbers)
print(listOfMixedDataTypes)
del listOfMixedDataTypes[4][0]
print(listOfMixedDataTypes)

[55.5, 'Bill', 1000, 19.9, (12, 7.8, 30, 64)]

TypeError: 'tuple' object doesn't support item deletion

In [21]:
##pop
listOfMixedDataTypes=[55.5, 'Bill', 1000,19.9]
poppedItem = listOfMixedDataTypes.pop(1) #pop() takes index as the input 
print('Popped Items is: {}'.format(poppedItem))
print(listOfMixedDataTypes)

Popped Items is: Bill
[55.5, 1000, 19.9]

In [23]:
listOfMixedDataTypes=[55.5, 'Bill', 1000,19.9]
itemDeleted = listOfMixedDataTypes.remove(1000) #using the remove function - takes the value as input
#Unlike Pop, it doesnot show the item which it is removing
print(itemDeleted)
print(listOfMixedDataTypes)

None
[55.5, 'Bill', 19.9]

## 14.8 Membership of List - in and not in

In [24]:
listOfMixedDataTypes=[55.5, 'Bill', 1000,19.9]
if 'Bill' in listOfMixedDataTypes:
    print("Found in list")
if 131 not in listOfMixedDataTypes:
    print('Not Found in List')

Found in list
Not Found in List

## 14.9 Reversing a list - reverse

In [26]:
listOfMixedDataTypes=[55.5, 'Bill', 1000,19.9]
print(listOfMixedDataTypes)
listOfMixedDataTypes.reverse() # revrse() function
print(listOfMixedDataTypes)

[55.5, 'Bill', 1000, 19.9]
[19.9, 1000, 'Bill', 55.5]

## 14.10 Sorting a list

Sort a List is using sorted(list) function. 

The function returns a new list with the elements in ascending order. 

The original list is not changed. 

Use the optional argument reverse=True, e.g. sorted(yourList, reverse=True), 
makes it sort backwards.

In [28]:
myListNum = [12,5,67,87,45,11,109]
sorted_list = sorted(myListNum)
print(sorted_list)
print(myListNum) #Original List remains unchanged.

[5, 11, 12, 45, 67, 87, 109]
[12, 5, 67, 87, 45, 11, 109]

In [29]:
myListNum = [12,5,67,87,45,11,109,'String'] #Mixed datatype is not alloed in the sorted() function
sorted_list = sorted(myListNum)
print(sorted_list)
print(myListNum) #Original List remains unchanged.

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
myListNum = [12,5,67,87,45,11,109]# Print a Reverse Sorted List
reverse_sorted_list = sorted(myListNum, reverse=True)
print(reverse_sorted_list)

[109, 87, 67, 45, 12, 11, 5]

In [31]:
## Sort the Original List
myListNum = [12,5,67,87,45,11,109]
myListNum.sort()
print(myListNum)

[5, 11, 12, 45, 67, 87, 109]

In [50]:
## Sort the Reverse Original List
myListNum = [12,5,67,87,45,11,109]
myListNum.sort(reverse=True)
print(myListNum)

[109, 87, 67, 45, 12, 11, 5]

## 14.11 Multiple References to a List

In [37]:
myList = [1,2,3,4,5,6]
newRef = myList
##doing some changes to the newRef list. Lets check the effect on the original list
newRef.append(10)
print("Ref List:", newRef)
print(" Original List: ",myList)

Ref List: [1, 2, 3, 4, 5, 6, 10]
 Original List:  [1, 2, 3, 4, 5, 6, 10]

## 14.12 Split a String to create a list

In [56]:
myString = " apple, banana, grapes "
newList=[]
myList= myString.split(', ')
print(myList)
for elements in myList:
    newList.append(elements.strip())
print(newList)

[' apple', 'banana', 'grapes ']
['apple', 'banana', 'grapes']

## 14.13 Indexing in a List

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [58]:
myList = [1,2,3,4,5,6]
print(myList[3])

4
[3, 4, 5]

## 14.14 List Slicing

Accessing parts of segments is called slicing. 

Slicing is done using colon (**:**) symbol

Start index:End Index

Value at start index is included but not the value at end index.

In [62]:
print(myList)
print(myList[2:5])
print(myList[0::2])
print(myList[::-1])

[1, 2, 3, 4, 5, 6]
[3, 4, 5]
[1, 3, 5]
[6, 5, 4, 3, 2, 1]

## 14.15 Extend a List using "+"

In [65]:
list1 = [1.3,'Amit', 'Ten','Hundred',100,40.5]
list2 = [3, 'Data Science', 'Twelve','One',2,0.5]
joinedList= list1+list2
print(joinedList)

[1.3, 'Amit', 'Ten', 'Hundred', 100, 40.5, 3, 'Data Science', 'Twelve', 'One', 2, 0.5]

## 14.16 Count an item in a List

In [67]:
list2 = [3, 'Data Science', 'Twelve','One',2,0.5,2]
print(list2.count(2)) # Count an Item in the list >> Count for which Item

2

## 14.17 Looping in List

In [69]:
listOfItems = [12,43,2,'Hundred',12,13, 'Four', 100]
for item in listOfItems:
    print(item)

12
43
2
Hundred
12
13
Four
100

## 14.18 List Comprehensions

List comprehensions provide a concise way to create lists.<br/>
This can be thought of a process that makes it easier to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [71]:
##normal way to create an empty list
myList=[]
for i in range(10):
    myList.append(i**2)
print(myList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
#List Comprehension: Simplifies the syntax. 
myList = [i**2 for i in range(10)] ## [Operation_Happens for i in Condition]
print(myList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 14.19 Nested List Comprehensions

In [77]:
matrix = [[0,1,2],
          [0,1,2],
          [0,1,2],
          [0,1,2]] 
# 4*3 matrix
print(matrix[2][1])

1

In [76]:
sameList=[]
for rowVal in range(4):
    rowList=[]
    for columnVal in range(3):
        rowList.append(columnVal)
    sameList.append(rowList)
print(sameList)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [80]:
myMatrix=[]
#[[],[],[]]
[myMatrix.append([colVal for colVal in range(3)]) for rowVal in range(4)]
print(myMatrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

#### Excercise: Perform the below list operations

In [212]:
myList = [1, 2, 3, 4, 5, 6, 8]
newList=[]
# for listItem in myList:
#     newList.append(listItem**2)
# print(newList)
newList = [listItem**2 for listItem in myList]
print(newList)# Square the values of myList and store in a new list
    
    
    
    
newList=[(i,i) for i in myList]    
print(newList)   # Make a combination of x and x values e.g. (x,x)


newList =[ even for even in myList if even%2==0 and even!=2]
print(newList) # Store only the even numbers greater than 2


newList = [([ (row+col)/2  for col in range(0,3)]) for row in range (1,10,3) ]
print(newList)   # Create a 3*3 matrix that stores half of number from 1 to 9


# (1+0)/2,1+1, 1+2
# 4+0,4+1,4+2
# 7+0,7+1,7+2

#print(newList)

[1, 4, 9, 16, 25, 36, 64]
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (8, 8)]
[4, 6, 8]
[[0.5, 1.0, 1.5], [2.0, 2.5, 3.0], [3.5, 4.0, 4.5]]

<center> <h1>End of LIST section</h1> </center>

# 15. Tuples

A tuple is very similar to a list

But tuples are immutable i.e. we can't change the elements of tuple once it is assigned <br/>
whereas in a list, elements can be changed

## 15.1 Creating a Tuple

In [2]:
emptyTuple= () ## Create an Empty Tuple

In [4]:
myNumberTuple = (12.2,100,12)# Tuple haivng nummbers
print(myNumberTuple)

myMixedTuple = ('x','y',100,'h')# Creating a tuple having multiple data types
print(myMixedTuple)

myNestedTuple= ('Hello',100, ('Welcome',12,11), [90,'same',26,'array']) # Nested Tuple # Hybrid
print(myNestedTuple)

(12.2, 100, 12)
('x', 'y', 100, 'h')
('Hello', 100, ('Welcome', 12, 11), [90, 'same', 26, 'array'])

In [7]:
isItTuple = ('Amit')##Only Parenthesis is not enough
print(type(isItTuple))

<class 'tuple'>

In [8]:
isItTuple = ('Amit',)##Only Parenthesis is not enough
print(type(isItTuple))

<class 'tuple'>

In [10]:
isItTuple = "Amit", #Parenthesis is actually Optional
print(type(isItTuple))

<class 'tuple'>

### Accessing Elements in Tuple

In [12]:
myTuple = 'Amit', 'Ajit', 'DataScience', 'Java','Microservice'
print(type(myTuple))
print(myTuple[3])#Printing an Index in the Tuple

<class 'tuple'>
Java

In [13]:
myTuple = 'Amit', 'Ajit', 'DataScience', 'Java','Microservice'

print(myTuple[-1])#Printing the last element in the tuple- Negative Index

Microservice

In [18]:
myTuple = 'Amit', 'Ajit', 'DataScience', 'Java','Microservice', ( 'Rakesh','Rohan','Gaurav')
print(myTuple[-1])
print(myTuple[-1][-1])

('Rakesh', 'Rohan', 'Gaurav')
Gaurav

In [28]:
myTuple = 10,11,12,13,14,15,
print(myTuple[2:5])
print(myTuple[-3:])
print(myTuple[-3::-1])  ## -1 is the step counter. -ve step counter means go towards left.
print(myTuple[-3::]) # By Default the step counter is +1 and it will move towards the right.
print(myTuple[::])  ##It is print all the tuple elements with a step counter of +1

(12, 13, 14)
(13, 14, 15)
(13, 12, 11, 10)
(13, 14, 15)
(10, 11, 12, 13, 14, 15)

### Altering the values in a Tuple

#### Tuples are immutable i.e. once set their values cannot be changed
#### But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [31]:
myTuple = 11,22,33,44,[55,66,77]#Created a Tuple
myTuple[1]=1  # Error: Type Error

TypeError: 'tuple' object does not support item assignment

In [39]:
myTuple = 11,22,33,44,[55,66,77]
print(myTuple)
 
myTuple[4][2]='Data Science'  #List is mutable hence value can be altered
print(myTuple)

(11, 22, 33, 44, [55, 66, 77])
(11, 22, 33, 44, [55, 66, 'Data Science'])

In [63]:
myTuple = 10,
print(type(myTuple))

<class 'tuple'>

In [64]:
#Concatinating Tuples
myTuple = (11,22,33)
print(id(myTuple))
myTuple= (myTuple+(44,55,66)) #New Tuple is Created with new Memory Location and the old tuple with the 
#same name is garbage collected.

print(myTuple)
print(id(myTuple))

myTuple1 = 11,22,33,44,55, + 2,4,5,6,7
print(myTuple1)

myTuple1 =myTuple1+ (10,)
print(myTuple1)

print(type((10,)))

2569557519616
(11, 22, 33, 44, 55, 66)
2569557014848
(11, 22, 33, 44, 55, 2, 4, 5, 6, 7)
(11, 22, 33, 44, 55, 2, 4, 5, 6, 7, 10)
<class 'tuple'>

In [65]:
#Using the * operator in Tuple  >> Repeats items using * operator
myTuple = (10,)*4
print(myTuple)

(10, 10, 10, 10)

### Deleting from a tuple

In [66]:
# Since Tuple is immutable , hence the entire tuple needs to be deleted using del keyword
myTuple = 11,22,33,44,[55,66,77]
del myTuple   # Deleting the entire tuple

### Count occurance of an item in Tuple

In [68]:
myTuple = ('Amit',12,34,56,'Data Science','Tree Set', 'Hash Set',12)
myTuple.count(12) ##Finds the frequency of a particular element in a tuple

2

### Tuple Index - Get the index position of an item

In [72]:
myTuple = ('Amit',12,34,56,'Data Science','Tree Set', 'Hash Set',12)
print(myTuple[4])  # Print the element value at index 4
print(myTuple.index(12)) ## Returns the index of the first element equal to 12

Data Science
1

### Memebership in Tuple

In [73]:
myTuple = ('Amit',12,34,56,'Data Science','Tree Set', 'Hash Set',12)
print(34 in myTuple)

True

In [74]:
print(24 in myTuple)

False

## Apply common built-in Functions on Tuple

#### Lenght of a Tuple

In [75]:
myTuple = ('Amit',12,34,56,'Data Science','Tree Set', 'Hash Set',12)
print(len(myTuple))

8

#### Sorting in Tuple

In [77]:
myTuple = 12,4,56,6,78,45,23
print(myTuple)

sortedTuple = sorted(myTuple) # Returns a new sorted list . Does not change the original one.
print(sortedTuple)

(12, 4, 56, 6, 78, 45, 23)
[4, 6, 12, 23, 45, 56, 78]

In [81]:
myTuple = 12,4,56,6,78,45,23,0.2
print(max(myTuple)) # Maximum element in the tuple
print(min(myTuple))# Minimum element in the tuple

78
0.2

In [80]:
print(sum(myTuple))# Sum of the elements in the tuple

224.2

# 16. Sets

<ul><li>A set is an <b>unordered</b> collection of items. Every element is <b>unique</b> (no duplicates).</li>
<li>Set is <b>mutable</b>. We can add or remove items to a Set.</li>
<li>Sets can be used to perform mathematical <b>set operations</b> <i>like union, intersection, symmetric difference etc</i>.</li></ul>

### Creating a Set

In [82]:
mySet = {1,2,3}
print(mySet)

{1, 2, 3}

mySet = {1,2,2,3,4,4,5,5,6,6,'',''}
print(mySet)## Duplicates are not allowed

In [88]:
mySet=set([1,2,3,4,5,66,66,77,77])# We can make set from a list using set() method
print(mySet)

{1, 2, 3, 4, 5, 66, 77}

In [90]:
mySet = set() ## We cannot use {} to initialize a empty set. it considers as a empth Dict. We can
#use set() method to initialize a empty set.
print(type(mySet))

<class 'set'>

### Adding element to Set

In [96]:
mySet = {'a', 56}

mySet.add(5)# Add a single value using add() method
print(mySet)

mySet.update([2,'r',12]) # Add multiple elements using the update() method
print(mySet)

#print(mySet[3])     #Indexing is not supported >> It does not support duplicated.

{56, 'a', 5}
{2, 5, 'a', 12, 56, 'r'}

In [98]:
mySet.update([12,'One'],{4,1,5},(1,2,3))# Adding a list, tuple and set to the original set using update()
print(mySet)

{1, 2, 3, 4, 5, 'a', 12, 56, 'One', 'r'}

### Removing elements from a Set

Methods

- remove()    &nbsp;                     -Raises KeyError if  elem is not contained in the set.
- discard()     &nbsp;                     -Doesn't raises KeyError
<br/><br/>
- pop()        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     -Removes a random item
- clear()      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                     -Delete the entire Set

In [105]:
#mySet
mySet = {'a', 56}
mySet.update([12,'One'],{4,1,5},(1,2,3))
mySet.remove(56) # 56 is removed from mySet
print(mySet)
mySet.remove(13) ## It raises a keyError as 13 does not belong to the set.

{1, 2, 3, 4, 5, 12, 'a', 'One'}

KeyError: 13

In [107]:
mySet = {'a', 56}
mySet.update([12,'One'],{4,1,5},(1,2,3))
mySet.remove(56) # 56 is removed from mySet
print(mySet)
mySet.discard(13) ## 13 does not exists, but we didnot get a Key Error.
mySet.discard(12)
print(mySet)

{1, 2, 3, 4, 5, 12, 'a', 'One'}
{1, 2, 3, 4, 5, 'a', 'One'}

In [108]:
mySet = {'a', 56}
mySet.update([12,'One'],{4,1,5},(1,2,3))
print(mySet)

{1, 2, 3, 4, 5, 12, 'a', 56, 'One'}

In [111]:
mySet = {'a', 56}
mySet.update([12,'One'],{4,1,5},(1,2,3))
print(mySet.pop()) #It removes a random element
print(mySet)

1
{2, 3, 4, 5, 12, 'a', 56, 'One'}

In [112]:
mySet.pop(12)# Pop takes no arguments

TypeError: set.pop() takes no arguments (1 given)

In [113]:
mySet.clear() # It will Empty all the items in the set. It doesnot deletes the set.
print(mySet)

set()

### Python Set Operations

Operations:

- union

- intersection

- symmetric difference

- subset


<img height="240" width="360" src='https://raw.githubusercontent.com/amity1415/DS/main/EKeeda/Images/EDA/set.png?token=GHSAT0AAAAAABXDSGQKMI65RGHSAHQ3Q57IYXFECHA'></img>

In [115]:
mySet1 = {1,2,3,4,5,6}
mySet2 = { 3,4,5,6,7}

print( mySet1 | mySet2)  #Union of 2 sets using | operator
print(mySet1.union(mySet2))#Alternatively use the union() method

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [116]:
mySet1 = {1,2,3,4,5,6}
mySet2 = { 3,4,5,6,7}

print( mySet1 & mySet2)  #Intersection of 2 sets using & operator
print(mySet1.intersection(mySet2))#Alternatively use the intersection() method

{3, 4, 5, 6}
{3, 4, 5, 6}

In [117]:
mySet1 = {1,2,3,4,5,6}
mySet2 = { 3,4,5,6,7}

print( mySet1 - mySet2)  #set Difference: set of elements that are only in mySet1 but not in mySet2
print(mySet1.difference(mySet2))#Alternatively use the difference() method

{1, 2}
{1, 2}

In [118]:
#Symmetric Difference: set of elements in both mySet1 and mySet2
#except those that are common in both
mySet1 = {1,2,3,4,5,6}
mySet2 = { 3,4,5,6,7}

print( mySet1 ^ mySet2)  
print(mySet1.symmetric_difference(mySet2))#Alternatively use the symmetric_difference() method

{1, 2, 7}
{1, 2, 7}

In [121]:
mySet1 = {1,2,3,4,5,6,7,8,9}
mySet2= {1,2,3,4,5}
mySet3 = {1,2,3,4,5}

print('Is set myset2 a subset of myset1? ', mySet2.issubset(mySet1))
print('Is set myset1 a subset of myset2? ', mySet1.issubset(mySet2))


print('Is set myset2 a subset of myset3? ', mySet2.issubset(mySet3))
print('Is set myset3 a subset of myset2? ', mySet3.issubset(mySet2))

Is set myset2 a subset of myset1?  True
Is set myset1 a subset of myset2?  False
Is set myset2 a subset of myset3?  True
Is set myset3 a subset of myset2?  True

### Frozen Sets

Like tuples are immutable lists, <b>frozen sets</b> are <b>immutable sets</b>

Frozensets can be created using - <b>frozenset()</b>

Sets being mutable are unhashable, so they can't be used as dictionary keys.<br/> On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like <b>copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union()</b>. 

Being immutable it does <b>not</b> have method that add or remove elements.

In [124]:
mySet1 = frozenset([1,2,3,4,5,6,7,8,9])
mySet2= frozenset([1,2,3,4,5])
mySet1.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

In [125]:
print(mySet1[4])# frozenset doesnot support indexing

TypeError: 'frozenset' object is not subscriptable

In [127]:

mySet1 = frozenset([1,2,3,4,5,6])
mySet2= frozenset([4,5,6,7,8])

print( mySet1 | mySet2)  #Union of 2 sets using | operator
print(mySet1.union(mySet2))#Alternatively use the union() method

frozenset({1, 2, 3, 4, 5, 6, 7, 8})
frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [128]:
mySet1 = frozenset([1,2,3,4,5,6])
mySet2= frozenset([4,5,6,7,8])

print( mySet1 & mySet2)  
print(mySet1.intersection(mySet2))

frozenset({4, 5, 6})
frozenset({4, 5, 6})

In [129]:
mySet1 = frozenset([1,2,3,4,5,6])
mySet2= frozenset([4,5,6,7,8])

print( mySet1 - mySet2)  
print(mySet1.difference(mySet2))

frozenset({1, 2, 3})
frozenset({1, 2, 3})

In [130]:
mySet1 = frozenset([1,2,3,4,5,6])
mySet2= frozenset([4,5,6,7,8])

print( mySet1 ^ mySet2)  
print(mySet1.symmetric_difference(mySet2))

frozenset({1, 2, 3, 7, 8})
frozenset({1, 2, 3, 7, 8})

# 17. Dictionary

Python dictionary is an unordered collection of items.<br/>
While other compound data types have <b>only value</b> as an element, a <u>dictionary</u> has a <b>key: value</b> pair.

### Create a Dictionary

In [140]:
myDict={}  # Creaate an empty dictionary

myIntegratedKeyDict = {100:'excellent', 50:'fair'} #Dict with Numeric Keys
print(myIntegratedKeyDict)

myMixedKeysDict = {'name': 'Amit',10:['sun','start']}# Creating a dictionary with mixed keys
print(myMixedKeysDict)

myDict = dict()  # Create an empty dictionary using the dict() method

myDict = dict([(4,'abcd'), (2,'ab')])  #Creating a dict with list of tuples
print(myDict)

{100: 'excellent', 50: 'fair'}
{'name': 'Amit', 10: ['sun', 'start']}
{4: 'abcd', 2: 'ab'}

### Dict Access

In [141]:

myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
print(myDict['name'])    #Passing the key to get the value

AMIT

In [143]:
print(myDict['marks'])

85

In [144]:
print(myDict['score'])# Gives KeyError if the key is not found

KeyError: 'score'

In [145]:
print(myDict.get('hobby')) # Alternatively use .get(key) to access the value

cricket

In [146]:
print(myDict.get('score'))#Gives NONE using get method if the key is not present

None

In [151]:
print(myDict.get('score','100')) ##

100

### Add or Modify  Elements in a Dictionary

In [152]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
myDict['name'] = 'Binod' #Update the valie in the key 'name'
print(myDict)

{'name': 'Binod', 'marks': 85, 'hobby': 'cricket'}

In [153]:
myDict['division']= 'A'# Adding a new key-value pair
print(myDict)

{'name': 'Binod', 'marks': 85, 'hobby': 'cricket', 'division': 'A'}

### Delete or Remove Element in a Dictionary

In [154]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}

del myDict['marks']  # Deleting a particular key
print(myDict)

{'name': 'AMIT', 'hobby': 'cricket'}

In [155]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
myDict.clear()  ## Remove all items
print(myDict)

{}

In [156]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
del myDict #Deleting the dictionary itself

print(myDict) #  NameError is thrown because dict is deleted

NameError: name 'myDict' is not defined

### Dictionary Methods

In [162]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
print(myDict)
print(id(myDict))

myNewDict = myDict.copy() # Copy method allocates a completely new memory location to the copied data structure.
# Changes/Updates in the new dictionary will not impact the old \n
#Dictionary anymore as both are having different locations in the memory
print(myNewDict)
print(id(myNewDict))

{'name': 'AMIT', 'marks': 85, 'hobby': 'cricket'}
2569559078208
{'name': 'AMIT', 'marks': 85, 'hobby': 'cricket'}
2569559078784

In [166]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
print(myDict)
print(id(myDict))

myNewDict = myDict
print(myNewDict)
print(id(myNewDict))
myNewDict['name'] = 'Ajit'
print(myDict)

{'name': 'AMIT', 'marks': 85, 'hobby': 'cricket'}
2569557454976
{'name': 'AMIT', 'marks': 85, 'hobby': 'cricket'}
2569557454976
{'name': 'Ajit', 'marks': 85, 'hobby': 'cricket'}

In [167]:
# fromkeys([seq], value) -> Return a new Dictionary with the keys from seq and value equal to 'Value'.
#Defaults to None.

fruits = {}.fromkeys(['apple','banana','grapes'],100)
print(fruits)

{'apple': 100, 'banana': 100, 'grapes': 100}

In [180]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
print(myDict.items())

for item in myDict.items():
    print(item)

dict_items([('name', 'AMIT'), ('marks', 85), ('hobby', 'cricket')])
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [185]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
print(myDict.keys()) # Returns the dictionary Keys/

for key in myDict.keys():
    print(key)
    ##print(myDict[key])
    print(myDict.get(key))

dict_keys(['name', 'marks', 'hobby'])
name
AMIT
marks
85
hobby
cricket

In [186]:
# Get list of all available methods and attributes of dictionary
dict={}
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [196]:
myDict = {'name':'AMIT', 'marks': 85, 'hobby':'cricket'}
#myDict.pop('name')
print(myDict.popitem()) ## Removing the last key-value pair that was added to the dictionary
print(myDict)

('hobby', 'cricket')
{'name': 'AMIT', 'marks': 85}

### Comprehension in Dictionary

In [197]:
fruits = {'apple':2,'banana':5,'grapes':10}
for fruit in fruits.items():  #Same as list comprehencions but here it is for dictionaries
    print(fruit)

('apple', 2)
('banana', 5)
('grapes', 10)

In [214]:
fruits = {'apple':2,'banana':5,'grapes':10}
fruitsDict = {k:v for k,v in fruits.items() if v%2==0  }
#Creating a new dictionary with only pairs where the value is even
print(fruitsDict)

{'apple': 2, 'grapes': 10}

In [218]:
fruits = {'apple':2,'banana':5,'grapes':10}# Input is in Dozen, I want to get the no of Fruits
fruitsDict = {k+'_even':v*12 for k,v in fruits.items() if v%2==0  } 
print(fruitsDict)
# Creating a new dictionary with only pairs where the value is even and adding 'even' to the key

{'apple_even': 24, 'grapes_even': 120}

# 18. Strings

A string is a <b>sequence of characters</b>.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

This conversion of character to a number is called encoding, and the reverse process is decoding. <a href='https://docs.python.org/3.3/howto/unicode.html'>ASCII and Unicode</a> are some of the popular encoding used.

In Python, string is a sequence of Unicode character.

### Create a String

- By enclosing characters inside a single quote or double quotes. 

- triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [223]:
myString = 'Single String'
print(id(myString))
print(myString)

myString= "Double String"
print(myString)

myString= '''Triple String'''
print(myString)

2569557489840
Single String
Double String
Triple String

### Access characters in a String

- Access individual characters using indexing and a range of characters using slicing.

- Index starts from 0. 

- Trying to access a character out of index range will raise an IndexError. 

- The index must be an integer. We can't use float or other types, this will result into TypeError.

- Python allows negative indexing for its sequences.

In [226]:
myString = "Double"
print(myString[1]) #Printing the 2nd Character

print(myString[1:4]) #Slicing 2nd and 4th Character-> Substring
print(myString[-2]) # Print the 2nd Last character using negative indexing

o
oub
l

If we try to access index out of the range or use decimal number, we will get errors.

In [227]:
print(myString[15]) # Index should be in available range

IndexError: string index out of range

In [228]:
print(myString[1.5]) # Index should be integer always

TypeError: string indices must be integers

### Change or delete a String

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [230]:
myString= "Double"
myString[0] = 'T' # Strings are immutable
print(myString)

TypeError: 'str' object does not support item assignment

In [231]:
del myString # Delete complete string
print(myString)

NameError: name 'myString' is not defined

In [233]:
myString=''
print(dir(myString))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## String Operations

### Concatenation

Joining of two or more strings into a single one is called concatenation.

- The <b>+</b> operator does this in Python. Simply writing two string literals together also concatenates them.

- The <b>*</b> operator can be used to repeat the string for a given number of times.

In [236]:
myString1= "Python "
myString2 = "Programming"

print(myString1+ myString2) # Concatenation of 2 strings
print(myString1 *2) # Repeats the string n times

Python Programming
Python Python

In [238]:
myString = "Python Programming"
charCount=0
for char in myString: #Iterating through String
    if char== 'P':
        charCount+=1
print('Character count of P is: ', charCount)

Character count of P is:  2

### String Membership Test

In [240]:
# in
myString = "Python Programming"  #Checking for membership
print('m' in  myString)
print('n P' in myString)

True
True

### String Methods

Some of the commonly used methods are<br/> 
<b>lower(), upper(), join(), split(), find(), replace() </b>etc

In [241]:
myString = "Python Programming"  #lower
myString.lower()

'python programming'

In [242]:
myString = "Python Programming"  #upper
myString.upper()

'PYTHON PROGRAMMING'

In [248]:
myString = "This is a lecture on Python Basics" #split
myString.split() # By Default space is the delimiter

['This', 'is', 'a', 'lecture', 'on', 'Python', 'Basics']

In [254]:
myString = " "
myString.join(['Split','this','list','into','a','line']) #join

'Split this list into a line'

In [258]:
#find()
myString = "This is a lecture on Python Basics" 
myString.find('o')

18

In [263]:
#replace
myString = "This is a lecture on Python Basics"

myString2 = myString.replace('Basics','Programming')
print(myString)

print(myString2)

This is a lecture on Python Basics
This is a lecture on Python Programming

# Python Program to Check where a String is Palindrome or not ?

In [ ]:
## Q1>> Reverse a word >>
#Hint : Use a For Loop. Initialize a a new charString and iterate the original string in revrerse dir.

## Q2>> CHeck if a word is Palindrom ??  

##Q3> Sort sentenses in Reverse Alphabatic Order. >> Hint : You can use and method.